@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}




.body-services {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #849cd4
}

.heading  {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  position: absolute;
  top: 110%;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #fff;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}




.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1c1c1c
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;

}
.carousel .card span {
  color: #6A6D78;
  font-weight: 500;
  font-size: 1.10rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}



.agendar-servico {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #323946;
  border-radius: 4rem;
  box-shadow: 0 0 0.2rem white;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  letter-spacing: .1rem;
  transition: .5s ease;
  color: white
}

.span-our-service {
  color: #0f9;
  text-shadow: 1px 0.3px 2px black
}

.agendar-servico:hover{
  box-shadow: 1px 0.4px  8px #1c1c1c;
}


@media (max-width: 768px) {
  .body-services {
    display: none
  }
}